* {}
.Quiz {
    margin: 25px 10px;
}

.radio {
    margin: 15px 25px;
}

.radio input {
    height: 25px;
    width: 25px;
}

label {
    font-size: 18px;
    padding: 15px 24px;
    background: white;
    width: 94%;
    margin-left: 15px;
}

a#btn-prev, a#btn-next {
    background: #EBEFF0;
}

.control.float-end {
    width: 98%;
    position: relative;
    margin: 20px 10px;
}

p.text-btn {
    margin: 0px;
    font-size: 14px !important;
    color: gray !important;
}

a#btn-next {
    position: absolute;
    right: 0;
    top: 0;
}

a.btn.btn-default.answer-button {
    width: 100%;
    text-align: left;
}

.Quiz-confidence-buttons a.btn.btn-default {
    background-color: white;
    margin: 10px 15px;
    border-radius: 30px;
    padding: 13px 50px !important;
    font-size: 16px;
    color: black;
    }


.TimerContainer {
   padding: 10px 0px;
   position: relative;
}

div#time {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 16px;
    font-weight: 600;
    color: black;
}


.progress {
    margin: 15px 0px;
}


p.rq-Question-text.well {
    background: white;
    padding: 20px 15px;
    margin: 10px 0px;
    font-size: 18px !important;
}

li.answer {
    background: white;
    padding: 10px 0px;
    margin: 15px 0px;
    font-size: 16px !important;
    border: 2px !important;
}

.Quiz p {
    font-size: 18px;
    color: black;
}

.Quiz-inner {
    background-color: #EBEFF0;
    margin-top: 20px;
    padding: 15px 35px;
}


.ex-test p {font-size: 18px; margin: 10px 0px; }

.ex-test{
    margin-bottom: 45px;
}
.ex-test a.btn{
    background: #23085A;
    color: white;
    border-radius: 30px;
    margin: 10px 0px;
}

.ex-test .btn:not(.btn-outline):not(.btn-dashed):not(.border-hover):not(.border-active):not(.btn-flush):not(.btn-icon) {padding-left: 45px; padding-right: 45px}

.ex-test h1 {
    margin-top: 40px;
}

p.tag {
    margin-top: 10px;
}

.sub-text a.btn {
    background: #23085A;
    color: white;
    padding: 10px 37px;
    border-radius: 30px;
    margin: 5px 0px 10px 0px;
}

.sub-text h1 {
    margin-bottom: 25px;
    margin-top: 10px;
}

.item i {margin-right: 8px;margin-top: 12px;}

.item {
    font-size: 17px;
}

.item a {
    color: black;
}

a {
    text-decoration:none;
    color: black;
}

a.test {
    text-decoration: underline;
    color: darkslateblue;
}

a:hover {
    color: #00953B;
    text-decoration: underline;
}

.bor {
    padding: 40px 0px 40px 17px;
    border: 8px solid #EBEFF0;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    margin-bottom: 15px;
}

.start-learn {
    padding: 70px 0px;
}

.start-learn a {
    padding: 10px 30px;
    background: #23085A;
    color: white;
    border-radius: 30px;
    font-size: 18px;
}

.view-content {
    margin-bottom: 70px;
}

.view-content h1 {
    margin-bottom: 50px;
}

.levels {
    margin-top: 0px;
    padding: 0px 0px 20px 0px;
}

.levels p {font-size: 18px;margin-top: 20px;}

.sub-text {
    margin-top: 0px;
    padding: 0px 0px 20px 0px;
}

.sub-text p {font-size: 18px;margin-top: 10px; margin-bottom: 10px}

.main-content img {
    width: 100%;
    border-top-left-radius: 35px;
}

/*.dis-content a.btn {
    background: #23085A;
    color: white;
    padding: 10px 37px;
    border-radius: 30px;
    margin-top: 11px;
}

.dis-content {
    background: white;
    border-top-right-radius: 35px;
    padding-top: 30px;
    padding-bottom: 15px;
    outline: 0px solid white;
    position: relative;
    top: 1px;
    color: #23085A;
}*/

.discover.text-center {margin: 30px 0px;padding: 40px 140px 0px 100px;background: #5DEB4B;border-top-left-radius: 35px;position: relative;}

img.img-fluid {
    width: 100%;
}

.col-xs-12.col-sm-12.col-md-6.col-lg-6.cont {
    margin-top: 35px;
    margin-left: -75px;
    padding: 35px;
    border-top-left-radius: 45px;
    background: white;
}

.view-content a {
    display: inline-block;
    width: 100%;
}

.view-content a img {
    width: 100%;
    border-bottom-left-radius: 35px;
}

.main-content .container .row {
    background-color: white;
    border-radius: 24px;
    padding: 11px 4px;
}
