<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Form Example</title>
</head>
<body>
    <form action="/updatePassword" method="post">
        <label for="newPassword">New Password</label>
        <input type="text" id="newPassword" name="newPassword" th:required="required">
        <br>
        <label for="confirmPass">Confirm new password</label>
        <input type="text" id="confirmPass" name="confirmPass" th:required="required">
        <br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
