<!-- <!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Form Example</title>
</head>
<body>
    <form action="/submitForm" method="post">
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:required="required">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html> -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <section>
        <h1>Forgot Password</h1>
        <!-- <form action="#" th:action="@{/send-otp}" th:object="${forgotPasswordForm}" method="post">
            <p>Email: <input type="text" th:field="*{email}"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form> -->
        <div id="login">
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" style="height: 220px;" class="col-md-6">
                            <h3 class="text-center m-3">Your Registered Email</h3>
                            <div class="alert alert-success" role="alert">
                                we have sent an OTP to your registered email <span th:text="${email}"></span>
                            </div>
                            <form method="post" action="" th:action="@{/verify-otp}">
                                <div class="form-group">
                                    <input name="otp" required="required" type="number" placeholder="Enter OTP here" class="form-control">
                                </div>
                                <div class="container text-center">
                                    <button class="btn btn- success">Verity</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>