* {}



h2.text {
    margin-top: 35px;
    margin-bottom: 15px;
}

.table tr:first-child, .table th:first-child, .table td:first-child {
    padding-left: 15px;
}

.table-word {
    margin-left: 15px;
}

.sub-text a.btn {
    background: #23085A;
    color: white;
    padding: 10px 37px;
    border-radius: 30px;
    margin: 5px 0px 10px 0px;
}

.sub-text a.btn.btn-green {
    background: #00953B;
    border-radius: 0px;
}

.sub-text h1 {
    margin-bottom: 25px;
    margin-top: 10px;
}

.sub-text {
    margin-top: 0px;
    padding: 0px 0px 20px 0px;
}

.sub-text p {font-size: 18px;margin-top: 10px; margin-bottom: 10px}

.item i {margin-right: 8px;margin-top: 12px;}

.item {
    font-size: 17px;
}

.item a {
    color: black;
}

a {
    text-decoration:none;
    color: black;
}

a:hover {
    color: #00953B;
    text-decoration: underline;
}

.bor {
    padding: 40px 0px 40px 17px;
    border: 8px solid #EBEFF0;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    margin-bottom: 15px;
}

.start-learn {
    padding: 70px 0px;
}

.start-learn a {
    padding: 10px 30px;
    background: #23085A;
    color: white;
    border-radius: 30px;
    font-size: 18px;
}

.view-content {
    margin-bottom: 70px;
}

.view-content h1 {
    margin-bottom: 50px;
}



.main-content img {
    width: 100%;
    border-top-left-radius: 35px;
}



.discover.text-center {margin: 30px 0px;padding: 40px 140px 0px 100px;background: #5DEB4B;border-top-left-radius: 35px;position: relative;}

.header {
    padding: 20px;
}

img.img-fluid {
    width: 100%;
}

.col-xs-12.col-sm-12.col-md-6.col-lg-6.cont {
    margin-top: 35px;
    margin-left: -75px;
    padding: 35px;
    border-top-left-radius: 45px;
    background: white;
}

.view-content a {
    display: inline-block;
    width: 100%;
}

.view-content a img {
    width: 100%;
    border-bottom-left-radius: 35px;
}

.main-content .container .row {
    background-color: white;
    border-radius: 24px;
    padding: 11px 4px;
}
